*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #E3F2FD;
}
.main{

  margin-top: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100px;
  background-color:#2196F3;
}
.main input{
  height: 50px;

  margin-right: 20px;
  padding: 5px;
  outline: none;
  border: none;
}
  button{
  height: 50px;
  padding: 10px;
  background-color: #4FC3F7;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  

}
.item{
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item h3{
  color: white;
}
.item button{
  margin-right: 10px;
}
.item button:first-child{
  color:red;
}